@media (min-width: 1700px) and (max-width: 2100.98px) {
    .mainImg  .imgOne {
        left: 8%;
    }

    .frcitionImg {
        left: 16%;
    }
}

@media (min-width: 1400px) and (max-width: 1699.98px) {
    .mainImg  .imgOne {
        left: 8%;
    }

    .frcitionImg {
        left: 6%;
    }
}